version: '3.8'

services:
  neo4j:
    image: ngdmapo/dmap_app_modernization:neo4j-v0.0.0
    container_name: neo4j
    restart: unless-stopped
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/dmap_password
      - NEO4J_dbms_memory_heap_initial__size=512m
      - NEO4J_dbms_memory_heap_max__size=2G
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
    networks:
      - neo4j-network

volumes:
  neo4j_data:
  neo4j_logs:

networks:
  neo4j-network:
    driver: bridge